/* Add this to your CSS file or style block in your component */

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: rgb(54, 50, 50);
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-md-4 {
  width: 30%;
}

.col-md-8 {
  width: 65%;
}

.list-group {
  list-style: none;
  padding: 0;
}

.list-group-item {
  cursor: pointer;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: background-color 0.3s;
}

.list-group-item:hover {
  background-color: #f0f0f0;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #007bff;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}
